<div *ngIf="register">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div *ngIf="validFields">Please fill all the fields correctly.</div>
    <input type="name" formControlName="name" placeholder="Enter Your Name" required><br>
    <p>{{profileForm.value.name}}</p>
    <input type="email" formControlName="email" placeholder="Enter Your Email" required><br>
    <input type="number" formControlName="number" placeholder="Enter Your Mobile Number" required><br>
    <input type="password" formControlName="pass" placeholder="Entern Your Password" required>
    <button type="submit">Submit</button>
  </form>
</div>
<div *ngIf="login"></div>
<div *ngIf="showList">
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Number</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let emp of listData">
      <td>{{emp.name}}</td>
      <td>{{emp.email}}</td>
      <td>{{emp.number}}</td>
      <td><button (click)="deleteUser(emp.id)">Delete</button></td>
    </tr>
  </table>

</div>
